.hamburger-menu {
    display: block;
    position: fixed;
    top: 21px;
    right: 23px;
    z-index: 9999999;
}

.hamburger-menu .toggle-menu {
    display: block;
    width: 40px;
    height: 35px;
    position: absolute;
    top: -15px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 99999999;
}

.hamburger-menu span {
    display: block;
    width: 33px;
    height: 3px;
    margin-bottom: 6px;
    position: relative;
    background: white;
    opacity: .4;
    border-radius: 3px;
    z-index: 9999999;
    transform-origin: 4px 0px;
    transition: transform .5s cubic-bezier(.77,.2,.05,1.0), opacity .55s ease;
}

.hamburger-menu span:first-child {
transform-origin: 0% 0%;
}

.hamburger-menu span:nth-last-child(2) {
transform-origin: 0% 100%;
}

.hamburger-menu .toggle-menu:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
}

.hamburger-menu .toggle-menu:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(.2, .2);
}

.hamburger-menu .toggle-menu:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}

.hamburger-menu .menu {
    position: fixed;
    width: 300px;
    top: 0;
    right: -350px;
    bottom: 0;
    margin: 0;
    padding: 80px 0 50px;
    opacity: 0;
    overflow-y: auto;
    background: black;
    list-style-type: none;
    transition: right .5s cubic-bezier(.77,.2,.05,1.0), opacity .5s ease-in-out;
    box-shadow: 10px 0 20px rgba(0,0,0,.05);
    background-color: rgba(0, 0, 0, 0.8);
}

.hamburger-menu .menu li {
    padding: 0;
    font-size: 20px;
}

.hamburger-menu .menu a {
    color: white;
    font-weight: bold;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
}

.hamburger-menu .toggle-menu:checked ~ .menu {
    right: 0;
    opacity: 1;
}

.hamburger-menu a:hover {
    border-left: 3px solid white;
    transition: all 0.2s;
}