body {
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif;
    font-size: larger;
    color: white;
    background-color: #0c0f15;
    background-image: url('../media/background2.jpg'); 
    background-size: cover;
    background-attachment: fixed;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 1rem 0;
    background-color: rgba(12, 15, 21, 0.8); 
    margin: 0;
}

nav ul li {
    margin: 0 2rem;
}

nav ul li a {
    font-family: 'DIN Condensed', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 1.25rem;
    padding: 5px;
}

nav ul li a:hover {
    border-bottom: 3px solid white;
    transition: all 0.1s;
}

.content {
    margin-left: 40px;
    float: left;
    text-align: center;
    padding: 3rem;
    color: #d3d3d3;
}

.content h2 {
    font-family: Beaufort Regular;
    font-size: 2.75rem;
    margin-bottom: 1rem;
    letter-spacing: 2px;
    color: white;
    text-align: left;
}

.content p {
    font-family: Din Condensed Light;
    font-size: 1.1rem;
    max-width: 600px;
    margin: auto;
    line-height: 1.6;
    text-align: left;
}

.inner-navigation a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    margin: 0 1em;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px;
}

.inner-navigation a:hover {
    color: black;
    background-color: white;
    transition: all 0.5s;
}

.section-info {
    color: white;
    display: flex;    
    margin-top: 2rem;
    font-size: 1.2rem;
    letter-spacing: 1px;
}
main .content p {
    font-size: 1.2rem;
    max-width: 700px;
    margin: 1.5rem auto;
    line-height: 1.8;
}

.main-image img {
    float:right;
    width: 450px;
    margin-right: 150px;
    margin-top: 6rem;
    border-radius: 50%;
    opacity: 0.9;
}
.section-content {
    display: none;
}

/* Show only the targeted section when clicked */
#supernova:target,
#gamma:target,
#anom:target {
    display: block;
}

.content-container:not(:has(:target)) > #supernova{
    display: block;
}

