* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: #222;
    color: white;
    overflow-x: hidden;
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 40px 0;
}

.circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

#circle1 {
    background-image: url('https://via.placeholder.com/150/FF007F/FFFFFF?text=Image1');
}

#circle2 {
    background-image: url('https://via.placeholder.com/150/7FFF00/FFFFFF?text=Image2');
    width: 200px;
    height: 200px;
}

#circle3 {
    background-image: url('https://via.placeholder.com/150/007FFF/FFFFFF?text=Image3'); 
}

.header {
    background-color: rgba(0, 0, 0, 0.8);
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    margin-left: 20px;
    border: None;
    padding: 0px;
}

.content {
    text-align: center;
    padding: 3rem;
    color: #d3d3d3;
    margin-top: 20px;
    margin-left: 50px;
}

.content h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    letter-spacing: 2px;
    color: white;
}

.content p {
    font-size: 1.1rem;
    margin: auto;
    line-height: 1.6;
}
    
.inner-navigation {
    margin: 10px;
    font-weight: bold;
    padding: 5px;
}

.inner-navigation a {
    border-radius: 5px;
    color: white;
    padding: 4px;
}

/* Section-Specific Styles */
.section-info {
    margin-top: 2rem;
    font-size: 1.2rem;
    color: #BBBBBB;
    letter-spacing: 1px;
}

/* Special Styling for the Homepage */
main .content p {
    font-size: 1.2rem;
    max-width: 700px;
    margin: 1.5rem auto;
    line-height: 1.8;
}

.hBar a:hover {
    border-bottom: 3px solid white;
    transition: all 0.1s;
}

.nextHamburg {
    margin-right: 40px;
}

.inner-navigation a:hover {
    color: black; /* White color on hover */
    background-color: white;
    transition: all 0.5s;
}

/* Hide all sections by default */
.text-container {
    display: none;
}

/* Show only the targeted section when clicked */
#traversable:target, #bridge:target, #lorentzian:target {
    display: block; 
}

.content-container:not(:has(:target)) > #traversable{
    display: block;
}

@media (max-width: 768px) {
    .hBar {
        display: none;
    }
}